@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Neuton);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);


h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #8a4346;
  font-family: 'Montserrat', 'Noto Sans Korean', Impact, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}

.remark-slide-content {
  font-family: 'Neuton', 'Open Sans', 'NanumMyeongjo', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #242424;
  line-height: 1.5;
  padding: 0.5em auto;
}

.remark-slide p {
  margin: 0;
  line-height: 1.5;
}

.remark-slide h1 {
  font-size: 2.4em;
}

.remark-slide :first-child h1 {
  color: white;
  background-color: #8a4346;
  font-size: 1.95em;
  padding: 0.1em 0;
  text-align: center;
  margin-bottom: 0.5em;
  border-radius: 7px;
}

.remark-slide h2 {
  font-size: 1.5em;
  border-bottom: 3px solid #8a4346;
}

.remark-slide h3 {
  font-size: 1.2em;
}


.remark-slide a {
  color: #8c542d;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.remark-slide a:hover {
  color: #367ba9;
  text-shadow: none;
  border: none; }


.remark-slide blockquote {
  width: 95%;
  font-size: 80%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 0;
  background: #fafafa;
  border-left: 3px solid #8a4346;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.full-height {
  background-size: 100% auto;
}

.remark-slide-content img {
  max-width: 95%;
  max-height: 95%;
}


.remark-slide pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 1.4em;
  font-family: monospace;
  font-weight: normal;
  line-height: 1.3;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.remark-slide code {
  font-family: monospace;
}

.remark-slide pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  background: #3F3F3F;
  color: #DCDCDC;
}

.remark-slide :not(pre) > code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 3px 5px;
  border-radius: 3px;
}

.remark-slide ul, .remark-slide ol {
  margin-bottom: 1em;
}
